

<div class="page proyecto">	
	<%= render(:partial => "compartido/header") %>
	
	<div class="contenido">

		<div class="contenido_proyecto clear_block">
			<h1 class="titulo_principal"> 
				<span class="naranja">
					BOL 1044
				</span>
			</h1>
			<div class="columnas columna_lateral">
				<h5>Fecha: </h5>
				<p>
					15/04/2011 – 14/04/2014
				</p>
				

				<h5>Localidad: </h5>
					<ul>
						<li>BOLIVIA</li>
						<li>Departamento de Chuquisaca</li>
						<li>Departamento de Potosí</li>
						<li>Departamento de Santa Cruz</li>
					</ul>

				<h5>Grupo meta: </h5>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 	
				</p>

				<h5>Organizaciones Socias:</h5>
				<img src="" alt="" class="org_socias">
				<p>nombre</p>
				<img src="" alt="" class="org_socias">
				<p>nombre</p>


				<h5>Cofinanciadores: </h5>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 	
				</p>

			</div>
			<div class="columnas columna_central">
<h5>Objetivo general: </h5>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt aliquet turpis at pellentesque. Proin cursus nisi non lacinia consectetur. Duis ac risus pulvinar, hendrerit erat eget, dictum arcu. Aenean rhoncus sollicitudin sapien ut vestibulum.
</p>
<h5>Objetivo específico:  </h5>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt aliquet turpis at pellentesque. Proin cursus nisi non lacinia consectetur. Duis ac risus pulvinar, hendrerit erat eget, dictum arcu. Aenean rhoncus sollicitudin sapien ut vestibulum.
</p>
<h5>Descripción:  </h5>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt aliquet turpis at pellentesque. Proin cursus nisi non lacinia consectetur. Duis ac risus pulvinar, hendrerit erat eget, dictum arcu. Aenean rhoncus sollicitudin sapien ut vestibulum.
</p>

			</div>
		</div>
	</div>

	<%= render(:partial => "compartido/footer") %>

</div>