

<div class="page programas">	
	<%= render(:partial => "compartido/header") %>
	
	<div class="contenido">

		<div class="contenido_site clear_block">
			<h1 class="titulo_principal"> 
				<span class="verde">
					NUESTROS PROGRAMAS
				</span>
				<span class="beige">
					Y PROYECTOS
				</span>
			</h1>
			<div class="columnas columna_lateral">

			</div>
			<div class="columnas columna_central">

			</div>
		</div>
	</div>

	<%= render(:partial => "compartido/footer") %>

</div>