

<div class="page programas">	
	<%= render(:partial => "compartido/header") %>
	
	<div class="contenido">

		<div class="contenido_mapa clear_block">
			<h1 class="titulo_principal"> 
				<span class="verde">
					NUESTROS PROGRAMAS
				</span>
				<span class="beige">
					Y PROYECTOS
				</span>
			</h1>
			<div class="mapa_continentes">
				<div class="mapamundi">

					<div class="mapa_over mapa_over_0 sudamerica_over">
					<div class="tooltip tooltip_0 sudamerica">SUDAMERICA <span class="colita"></span></div>
						
					</div>
					<div class="mapa_over mapa_over_1 alemania_over">
					<div class="tooltip tooltip_1 alemania">ALEMANIA <span class="colita"></span></div>
						
					</div>
					<div class="mapa_over mapa_over_2 nigeria_over">
					<div class="tooltip tooltip_2 nigeria">NIGERIA <span class="colita"></span></div>
						
					</div>
					<div class="mapa_over mapa_over_3 asia_over">
					<div class="tooltip tooltip_3 asia">ASIA <span class="colita"></span></div>
						
					</div>

					<a href="#" class="mapa_over_area sudamerica_over_area" data-area="0"></a>
					<a href="#" class="mapa_over_area alemania_over_area" data-area="1"></a>
					<a href="#" class="mapa_over_area nigeria_over_area" data-area="2"></a>
					<a href="#" class="mapa_over_area asia_over_area" data-area="3"></a>
				</div>
				<div class="sudamerica_mapa">
					<div class="tooltip_map">
						<h5>BOL 1044: </h5>
						<ul>
							<li>Departamento de Chuquisaca</li>
							<li>Departamento de Potosí</li>
							<li>Departamento de Santa Cruz</li>
						</ul>
						<div class="colita2"></div>
					</div>

					<div class="cont_pts">
						<a class="punto celeste"></a>

						
					</div>
<!-- 
					<div class="tooltip tooltip_0 sudamerica">SUDAMERICA <span class="colita"></span></div>
					<div class="tooltip tooltip_1 alemania">ALEMANIA <span class="colita"></span></div>
					<div class="tooltip tooltip_2 nigeria">NIGERIA <span class="colita"></span></div>
					<div class="tooltip tooltip_3 asia">ASIA <span class="colita"></span></div>

					<div class="mapa_over mapa_over_0 sudamerica_over"></div>
					<div class="mapa_over mapa_over_1 alemania_over"></div>
					<div class="mapa_over mapa_over_2 nigeria_over"></div>
					<div class="mapa_over mapa_over_3 asia_over"></div>

					<a href="#" class="mapa_over_area sudamerica_over_area" data-area="0"></a>
					<a href="#" class="mapa_over_area alemania_over_area" data-area="1"></a>
					<a href="#" class="mapa_over_area nigeria_over_area" data-area="2"></a>
					<a href="#" class="mapa_over_area asia_over_area" data-area="3"></a> -->


				</div>

			</div>
		</div>
	</div>

	<%= render(:partial => "compartido/footer") %>

</div>