

<div class="page programas">	
	<%= render(:partial => "compartido/header") %>
	
	<div class="contenido">

		<div class="contenido_mapa clear_block">
			<h1 class="titulo_principal"> 
				<span class="verde">
					NUESTROS PROGRAMAS
				</span>
				<span class="beige">
					Y PROYECTOS
				</span>
			</h1>
			<div class="mapa_continentes">
				<div class="mapamundi">

					<div class="mapa_over mapa_over_0 sudamerica_over">
					<div class="tooltip tooltip_0 sudamerica">SUDAMERICA <span class="colita"></span></div>
						
					</div>
					<div class="mapa_over mapa_over_1 alemania_over">
					<div class="tooltip tooltip_1 alemania">ALEMANIA <span class="colita"></span></div>
						
					</div>
					<div class="mapa_over mapa_over_2 nigeria_over">
					<div class="tooltip tooltip_2 nigeria">NIGERIA <span class="colita"></span></div>
						
					</div>
					<div class="mapa_over mapa_over_3 asia_over">
					<div class="tooltip tooltip_3 asia">ASIA <span class="colita"></span></div>
						
					</div>

					<a href="#" class="mapa_over_area sudamerica_over_area" data-area="0"></a>
					<a href="#" class="mapa_over_area alemania_over_area" data-area="1"></a>
					<a href="#" class="mapa_over_area nigeria_over_area" data-area="2"></a>
					<a href="#" class="mapa_over_area asia_over_area" data-area="3"></a>
				</div>
				<div class="sudamerica_mapa">

					<div class="cont_pts">
						<a class="punto celeste celeste_1" data-color="celeste">
							<div class="tooltip_map">
								<h5>BOL 1116: </h5>
								<ul>
									<li>Lamay - Cusco </li>
									<li>Quisquis - Huánuco </li>
									<li>Huarochirí - Lima </li>
									<li>Sapuena - Loreto </li>
								</ul>
								<div class="colita2"></div>
							</div>							
						</a>
						<a class="punto celeste celeste_2" data-color="celeste">
							<div class="tooltip_map">
								<h5>BOL 1116: </h5>
								<ul>
									<li>Lamay - Cusco </li>
									<li>Quisquis - Huánuco </li>
									<li>Huarochirí - Lima </li>
									<li>Sapuena - Loreto </li>
								</ul>
								<div class="colita2"></div>
							</div>								
						</a>
						<a class="punto celeste celeste_3" data-color="celeste">
							<div class="tooltip_map">
								<h5>BOL 1116: </h5>
								<ul>
									<li>Lamay - Cusco </li>
									<li>Quisquis - Huánuco </li>
									<li>Huarochirí - Lima </li>
									<li>Sapuena - Loreto </li>
								</ul>
								<div class="colita2"></div>
							</div>	
						</a>
						<a class="punto celeste celeste_4" data-color="celeste">
							<div class="tooltip_map">
								<h5>BOL 1116: </h5>
								<ul>
									<li>Lamay - Cusco </li>
									<li>Quisquis - Huánuco </li>
									<li>Huarochirí - Lima </li>
									<li>Sapuena - Loreto </li>
								</ul>
								<div class="colita2"></div>
							</div>	
						</a>

						<a class="punto verde verde_1" data-color="verde">
							<div class="tooltip_map">
								<h5>BOL 1009: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Provincia de Huancabamba - Piura</li>
									<br>
									<li class="subtitle">ECUADOR </li>
									<li>Cantón Píllaro - Tungurahua</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto verde verde_2" data-color="verde">
							<div class="tooltip_map">
								<h5>BOL 1009: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Provincia de Huancabamba - Piura</li>
									<br>
									<li class="subtitle">ECUADOR </li>
									<li>Cantón Píllaro - Tungurahua</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>

						<a class="punto crema crema_1" data-color="crema">
							<div class="tooltip_map">
								<h5>BOL 1009: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Distrito de Kosñipata - Cusco </li>
									<li>Distrito de Challabamba - Cusco</li>
									<li>Provincia de Manu - Madre de Dios </li>
									<br>
									<li class="subtitle">ECUADOR </li>
									<li>Cantón Aguarico - Orellana</li>
									<li>Francisco de Orellana - Orellana</li>
								</ul>
								<div class="colita2"></div>
							</div>	
						</a>
						<a class="punto crema crema_2" data-color="crema">
							<div class="tooltip_map">
								<h5>BOL 1009: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Distrito de Kosñipata - Cusco </li>
									<li>Distrito de Challabamba - Cusco</li>
									<li>Provincia de Manu - Madre de Dios </li>
									<br>
									<li class="subtitle">ECUADOR </li>
									<li>Cantón Aguarico - Orellana</li>
									<li>Francisco de Orellana - Orellana</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto crema crema_3" data-color="crema">
							<div class="tooltip_map">
								<h5>BOL 1009: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Distrito de Kosñipata - Cusco </li>
									<li>Distrito de Challabamba - Cusco</li>
									<li>Provincia de Manu - Madre de Dios </li>
									<br>
									<li class="subtitle">ECUADOR </li>
									<li>Cantón Aguarico - Orellana</li>
									<li>Francisco de Orellana - Orellana</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto crema crema_4" data-color="crema">
							<div class="tooltip_map">
								<h5>BOL 1009: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Distrito de Kosñipata - Cusco </li>
									<li>Distrito de Challabamba - Cusco</li>
									<li>Provincia de Manu - Madre de Dios </li>
									<br>
									<li class="subtitle">ECUADOR </li>
									<li>Cantón Aguarico - Orellana</li>
									<li>Francisco de Orellana - Orellana</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>

						<a class="punto cremao cremao_1" data-color="cremao">
							<div class="tooltip_map">
								<h5>BOL 1044: </h5>
								<ul>
									<li>Departamento de Chuquisaca</li>
									<li>Departamento de Potosí</li>
									<li>Departamento de Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto cremao cremao_2" data-color="cremao">
							<div class="tooltip_map">
								<h5>BOL 1044: </h5>
								<ul>
									<li>Departamento de Chuquisaca</li>
									<li>Departamento de Potosí</li>
									<li>Departamento de Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>	
						<a class="punto cremao cremao_3" data-color="cremao">
							<div class="tooltip_map">
								<h5>BOL 1044: </h5>
								<ul>
									<li>Departamento de Chuquisaca</li>
									<li>Departamento de Potosí</li>
									<li>Departamento de Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>

						<a class="punto amarillo amarillo_1" data-color="amarillo">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>La Paz</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>






						<a class="punto rosad rosad_1" data-color="rosad">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>Municipio de El Puente - Tarija</li>
									<li>Municipio deYunchará - Tarija</li>
									<li>Municipio de Las Carreras - Chuquisaca</li>
									<li>Municipio de Cotagaita - Potosí</li>
									<li>Municipio de Vitichi - Potosí</li>
									<li>Municipio de Tupiza - Potosí</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto rosad rosad_2" data-color="rosad">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>Municipio de El Puente - Tarija</li>
									<li>Municipio deYunchará - Tarija</li>
									<li>Municipio de Las Carreras - Chuquisaca</li>
									<li>Municipio de Cotagaita - Potosí</li>
									<li>Municipio de Vitichi - Potosí</li>
									<li>Municipio de Tupiza - Potosí</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto rosad rosad_3" data-color="rosad">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>Municipio de El Puente - Tarija</li>
									<li>Municipio deYunchará - Tarija</li>
									<li>Municipio de Las Carreras - Chuquisaca</li>
									<li>Municipio de Cotagaita - Potosí</li>
									<li>Municipio de Vitichi - Potosí</li>
									<li>Municipio de Tupiza - Potosí</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto rosad rosad_4" data-color="rosad">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>Municipio de El Puente - Tarija</li>
									<li>Municipio deYunchará - Tarija</li>
									<li>Municipio de Las Carreras - Chuquisaca</li>
									<li>Municipio de Cotagaita - Potosí</li>
									<li>Municipio de Vitichi - Potosí</li>
									<li>Municipio de Tupiza - Potosí</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto rosad rosad_5" data-color="rosad">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>Municipio de El Puente - Tarija</li>
									<li>Municipio deYunchará - Tarija</li>
									<li>Municipio de Las Carreras - Chuquisaca</li>
									<li>Municipio de Cotagaita - Potosí</li>
									<li>Municipio de Vitichi - Potosí</li>
									<li>Municipio de Tupiza - Potosí</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto rosad rosad_6" data-color="rosad">
							<div class="tooltip_map">
								<h5>BOL 1046: </h5>
								<ul>
									<li>Municipio de El Puente - Tarija</li>
									<li>Municipio deYunchará - Tarija</li>
									<li>Municipio de Las Carreras - Chuquisaca</li>
									<li>Municipio de Cotagaita - Potosí</li>
									<li>Municipio de Vitichi - Potosí</li>
									<li>Municipio de Tupiza - Potosí</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>

						<a class="punto gris gris_1" data-color="gris">
							<div class="tooltip_map">
								<h5>BOL 1101: </h5>
								<ul>
									<li>Cusco</li>
								</ul>
								<div class="colita2"></div>
							</div>								
						</a>

						<a class="punto rojo rojo_1" data-color="rojo">
							<div class="tooltip_map">
								<h5>BOL 1101: </h5>
								<ul>
									<li>Cusco</li>
									<li>Madre de Dios</li>
									<li>Pasco</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>
						<a class="punto rojo rojo_2" data-color="rojo">
							<div class="tooltip_map">
								<h5>BOL 1101: </h5>
								<ul>
									<li>Cusco</li>
									<li>Madre de Dios</li>
									<li>Pasco</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>	
						<a class="punto rojo rojo_3" data-color="rojo">
							<div class="tooltip_map">
								<h5>BOL 1101: </h5>
								<ul>
									<li>Cusco</li>
									<li>Madre de Dios</li>
									<li>Pasco</li>
								</ul>
								<div class="colita2"></div>
							</div>	
							
						</a>

						<a class="punto rosam rosam_1" data-color="rosam">
							<div class="tooltip_map">
								<h5>BOL 1116: </h5>
								<ul>
									<li class="subtitle">APURIMAC </li>
									<li>Distrito de Tamburco </li>
									<li>Mariscal Gamarra  </li>
									<li>Chuquibambilla  </li>
									<li>Huayllati   </li>
									<li>Progreso Paccayura </li>
									<li>Provincia de Grau   </li>
								</ul>
								<div class="colita2"></div>
							</div>	

						</a>

						<a class="punto verdeo verdeo_1" data-color="verdeo">
							<div class="tooltip_map">
								<h5>BOL 1121: </h5>
								<ul>
									<li>Cusco </li>
									<li>Apurimac </li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto verdeo verdeo_2" data-color="verdeo">
							<div class="tooltip_map">
								<h5>BOL 1121: </h5>
								<ul>
									<li>Cusco </li>
									<li>Apurimac </li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>

						<a class="punto morado morado_1" data-color="morado">
							<div class="tooltip_map">
								<h5>BOL 1010: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Provincia de Huánuco</li>
									<li>Provincia de Cangallo - Ayacucho</li>
									<li>Provincia de Huamanga -Ayacucho </li>
									<br>
									<li class="subtitle">BOLIVIA </li>
									<li>Provincia de Gran Chaco - Tarija</li>
									<li>Provincia de Velasco - Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto morado morado_2" data-color="morado">
							<div class="tooltip_map">
								<h5>BOL 1010: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Provincia de Huánuco</li>
									<li>Provincia de Cangallo - Ayacucho</li>
									<li>Provincia de Huamanga -Ayacucho </li>
									<br>
									<li class="subtitle">BOLIVIA </li>
									<li>Provincia de Gran Chaco - Tarija</li>
									<li>Provincia de Velasco - Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto morado morado_3" data-color="morado">
							<div class="tooltip_map">
								<h5>BOL 1010: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Provincia de Huánuco</li>
									<li>Provincia de Cangallo - Ayacucho</li>
									<li>Provincia de Huamanga -Ayacucho </li>
									<br>
									<li class="subtitle">BOLIVIA </li>
									<li>Provincia de Gran Chaco - Tarija</li>
									<li>Provincia de Velasco - Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto morado morado_4" data-color="morado">
							<div class="tooltip_map">
								<h5>BOL 1010: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Provincia de Huánuco</li>
									<li>Provincia de Cangallo - Ayacucho</li>
									<li>Provincia de Huamanga -Ayacucho </li>
									<br>
									<li class="subtitle">BOLIVIA </li>
									<li>Provincia de Gran Chaco - Tarija</li>
									<li>Provincia de Velasco - Santa Cruz</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>

						<a class="punto naranja naranja_1" data-color="naranja">
							<div class="tooltip_map">
								<h5>BOL 1012: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Cusco</li>
									<br>
									<li class="subtitle">BOLIVIA </li>
									<li>La Paz</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						<a class="punto naranja naranja_2" data-color="naranja">
							<div class="tooltip_map">
								<h5>BOL 1012: </h5>
								<ul>
									<li class="subtitle">PERÚ </li>
									<li>Cusco</li>
									<br>
									<li class="subtitle">BOLIVIA </li>
									<li>La Paz</li>
								</ul>
								<div class="colita2"></div>
							</div>
							
						</a>
						
					</div>
<!-- 
					<div class="tooltip tooltip_0 sudamerica">SUDAMERICA <span class="colita"></span></div>
					<div class="tooltip tooltip_1 alemania">ALEMANIA <span class="colita"></span></div>
					<div class="tooltip tooltip_2 nigeria">NIGERIA <span class="colita"></span></div>
					<div class="tooltip tooltip_3 asia">ASIA <span class="colita"></span></div>

					<div class="mapa_over mapa_over_0 sudamerica_over"></div>
					<div class="mapa_over mapa_over_1 alemania_over"></div>
					<div class="mapa_over mapa_over_2 nigeria_over"></div>
					<div class="mapa_over mapa_over_3 asia_over"></div>

					<a href="#" class="mapa_over_area sudamerica_over_area" data-area="0"></a>
					<a href="#" class="mapa_over_area alemania_over_area" data-area="1"></a>
					<a href="#" class="mapa_over_area nigeria_over_area" data-area="2"></a>
					<a href="#" class="mapa_over_area asia_over_area" data-area="3"></a> -->


				</div>

			</div>
		</div>
	</div>

	<%= render(:partial => "compartido/footer") %>

</div>