	<div class="footer">
		<div class="piepagina">
			<div class="bloques_pie_pagina logo_footer">
			</div>
			<div class="bloques_pie_pagina menu_footer menu_footer_1">
				<ul>
					<li><a href="">Documentation</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Documentation</a></li>
				</ul>				
			</div>
			<div class="bloques_pie_pagina menu_footer menu_footer_2">
				<ul>
					<li><a href="">Documentation</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Documentation</a></li>
				</ul>	
				
			</div>
			<div class="bloques_pie_pagina donar">
				<div class="donar_cont">
					<div class="contribuye">
						Contribuye
					</div>
					<div class="a_causa">
						con nuestra causa:
					</div>
					<a href="" class="btns btn_donar"></a>
				</div>
				
			</div>
		</div>
		<div class="copyright">
			<%= @inicio.inicios_copy_right %>			
		</div>
		
	</div>