

<div class="page nosotros">	
	<%= render(:partial => "compartido/header") %>
	
	<div class="contenido">

		<div class="contenido_site clear_block">
			<div class="columnas columna_central">
				<div class="imagen_contenido">
					<img src="/assets/foto1.jpg" alt="">
				</div>

				<h1 class="titulo_principal"> <span class="verde">QUIENES</span> <span class="beige">SOMOS</span> </h1>
				
				<div class="textos">
						<p>
						Luchamos por una seguridad alimentaria para todas las personas, por el desarrollo rural y por la conservación de los recursos naturales. Apostamos por la fuerza de los sueños porque son éstos los q
						</p>
				</div>





				<div class="acordeon">
					<h2>Mision</h2>
					<div class="textos">
						<p>
							Luchamos por una seguridad alimentaria para todas las personas, por el desarrollo rural y por la 
							conservación de los recursos naturales. Apostamos por la fuerza de los sueños porque son éstos los	
						</p>						
					</div>					
				</div>


				<div class="acordeon">
					<h2>Mision</h2>
					<div class="textos">
						<p>
							Luchamos por una seguridad alimentaria para todas las personas, por el desarrollo rural y por la 
							conservación de los recursos naturales. Apostamos por la fuerza de los sueños porque son éstos los
							Luchamos por una seguridad alimentaria para todas las personas, por el desarrollo rural y por la 
							conservación de los recursos naturales. Apostamos por la fuerza de los sueños porque son éstos los

							Luchamos por una seguridad alimentaria para todas las personas, por el desarrollo rural y por la 
							conservación de los recursos naturales. Apostamos por la fuerza de los sueños porque son éstos los

							Luchamos por una seguridad alimentaria para todas las personas, por el desarrollo rural y por la 
							conservación de los recursos naturales. Apostamos por la fuerza de los sueños porque son éstos los

						</p>						
					</div>					
				</div>



			</div>
			<div class="columnas columna_lateral">
				<%= render(:partial => "compartido/sidebar") %>
			</div>


		</div>
	

	</div>

	<%= render(:partial => "compartido/footer") %>

</div>

